.boat-house-wrapper {
    position: relative;
    padding: 2rem;
    background-image: url('../images/boat-house.png');
    @include background-property();
    height: 378px;
    border-radius: $border-radius;
    .boat-house-heading-text {
        position: relative;
        @extend .package-heading-text;
        color: $white-color;
        margin-top: 0.8rem;
        z-index: 3;
    }
}

// import package section
@import "_hotelpackages";