.footer-book-direct {
    @include center-div-position();
    top: 0%;
    width: $width-full;
    background-color: $white-color;
    padding: 1.5rem;
    border-radius: $border-radius;
    color: $dark-text;
    @include box-shadow($shadows);
    .footer-bookus-direct-heading {
        font-size: 1.5rem;
        font-weight: $font-weight700;
        letter-spacing: 2px;
    }
    .footer-bookbnow-btn-wrapper {
        @include center-div-flex();
        .footer-book-now-btn {
            @include primary-btn($primary-color, $primary-hover)
        }
    }
}