// our premium hotel section
.our-premium-hotel-text {
    font-size: 2rem;
    font-family: $playfair-font;
    font-weight: $font-weight700;
    line-height: 2.6rem;
}

.our-hotel-underline{
    width: 65%;
    height: 5px !important;
    background-color: $primary-color;
    opacity: 1 !important;
    border-radius: $border-radius;
}

.h-320px {
    height: 320px;
}

.premium-hotel-img-wrapper {
    position: relative;
    width: $width-full;
    height: 100%;
    border-radius: $border-radius;
    div:first-child {
        position: initial !important;
        > div {
            display: none !important;
        }
        img {
            border-radius: $border-radius;
            object-fit: cover;
        }
    }
    Image {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: $border-radius;
    }
}

.hotel-details-wrapper {
    position: absolute;
    bottom: -2%;
    width: $width-full;
    color: $white-color;
    padding: 1rem;
    letter-spacing: 1px;
    z-index: 1;
    .our-hotel-location {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .starting-rom-price-text {
        font-size: 80%;
        letter-spacing: 2px;
        font-weight: $font-weight300;
    }
}