// // Tab custom style
.react-tabs {
    .react-tabs__tab-list {
        margin-bottom: 1.5rem;
    }

    .react-tabs__tab-list {
        border-bottom: 1px solid #C3C0C0 !important;
    }

    .react-tabs__tab {
        color: $dark-gray;
        font-size: 1.2rem;
        font-weight: $font-weight300;
        padding: 0px !important;
        padding-left: 1.6rem !important;
        padding-right: 1.6rem !important;
        &:focus {
            box-shadow: unset !important;
        }
    }
    .react-tabs__tab--selected {
        color: $black-color !important;
        border-width: 1px !important;
        border-color: transparent !important;
        background-color: transparent !important;
        &::after {
            content: "";
            position: relative;
            display: block;
            border-bottom: 2.5px solid $black-color;
            margin-top: 0.2rem
        }
    }
    .tab-items-list {
        @extend .standard-text;
        letter-spacing: 0.3px;
        margin: 0.6rem 0rem;
        a {
            text-decoration: none;
            color: $gray-text;
            transition:0.5s all ease;
            font-weight: $font-weight400;
            &:hover {
                color: $dark-text;
            }
        }
    }
}