// variable defined 

// full-width
$width-full: 100%;

// font-family
$kristi-font: 'Kristi', cursive;
$playfair-font: 'Playfair Display', serif;
$cabin-font: 'Cabin', sans-serif;
$happymonkey-font: 'Happy Monkey', cursive;

// color
$white-color: #ffffff;
$black-color: #000000;
$primary-color: #FFB905;
$primary-hover: #4F77E3;
$dark-text: #212529;
$dark-footer: #262626;
$gray-text: #8d97bd;
$dark-gray: #8C8C8C;
$default-gray-bg: #F6F8FB;

// font-size 
$font-size80: 80%;
$font-size85: 85%;
$font-size90: 90%;
$font-size95: 95%;

// font-weight
$font-weight200: 200;
$font-weight300: 300;
$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$font-weight800: 800;

// border-radius
$border-radius2px: 2px;
$border-radius4px: 4px;
$border-radius5px: 5px;
$border-radius6px: 6px;
$border-radius8px: 8px;
$border-radius10px: 10px;
$border-radius12px: 12px;
$border-radius50per: 50%;

// standard border radius
$border-radius: 1rem;